@model IEnumerable<ClinicaVeterinariaWeb.Data.Entities.Marcacao>

@{
    ViewData["Title"] = "Index";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



  <p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-save"></i> Criar Marcação</a>
  </p>

<flash dismissable="true" />
<table class="table">
    <thead>
            <tr>
                @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employee")))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.User.FullName)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeAnimal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarcacaoDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipodaConsulta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CellPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusConsulta)
                </th>
                <th></th>
            </tr>
    </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                        @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employee")))
                        {
                        <th>
                                @Html.DisplayFor(model => item.User.FullName)
                        </th>
                        }
                    <td>
                            @Html.DisplayFor(modelItem => item.Cliente.FullName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.NomeAnimal)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.MarcacaoDateLocal)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.TipodaConsulta)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.CellPhone)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.StatusConsulta)
                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Cancelar" asp-route-id="@item.Id">Cancelar</a>
                    </td>
                </tr>
                }
            </tbody>
    
</table>



  
  @section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#MyTable').DataTable();
            });
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    }


