@model IEnumerable<ClinicaVeterinariaWeb.Data.Entities.Marcacao>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />


<h1>Marcação</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-save"></i> Create New</a>
</p>

<flash dismissable="true" />

<table class="table table-hover table-responsive table-striped" id="MyTable">
    <thead>
        <tr>
            @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employee")))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcacaoDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipodaConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusConsulta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
      @foreach (var item in Model)
      {
        <tr>
            @if (this.User.IsInRole("Admin") || (this.User.IsInRole("Employee")))
            {
                <th>
                   @Html.DisplayNameFor(model => item.User.FullName)
                </th>
            }
            <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcacaoDateLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipodaConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusConsulta)
                </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Cancelar" asp-route-id="@item.Id">Cancelar</a>
            </td>
        </tr>
      }

    </tbody>
</table>
